@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@800&display=swap');
@import '../base/variables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: 'Gemunu Libre', sans-serif;
}

body {
    background-color: map-get($principal-theme, bg-color);
}

section {
    background-color: map-get($principal-theme, section-bg-color);

    h2{
        color: map-get($principal-theme, section-text-color);
    }
}

#proyectos, #sobre-mi{
    color: map-get($principal-theme, bg-color);
}