$principal-theme: (
    
    bg-color: #dfdfff,

    header-div-bg-color: #000036,
    header-text-color: #d6edff,

    nav-bg-color: darken(#dfdfff, 10%),
    nav-item-color: #004781,
    nav-item-color-hover: lighten(#004781, 20%),

    section-bg-color: darken(#dfdfff, 15%),
    section-text-color: #004781,

    sobre-mi-img-bg-color: #000036,

    footer-bg-color: #838383,
);